In [38]:
import numpy as np
import pandas as pd

# Data collection and analysis

In [39]:
# load diabetise data set

df = pd.read_csv('diabetes.csv')
# the size of the data 
df.shape
# getting the statistical measure of the data
df.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [40]:
df['Outcome'].value_counts()

0    500
1    268
Name: Outcome, dtype: int64

0 --> non-diabetics

1 --> diabetics

In [41]:
df.groupby('Outcome').mean()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
Outcome,,,,,,,,
0,3.298000,109.980000,68.184000,19.664000,68.792000,30.304200,0.429734,31.190000
1,4.865672,141.257463,70.824627,22.164179,100.335821,35.142537,0.550500,37.067164

In [42]:
# Separating the data as dependent and independent 

x = df.drop(columns='Outcome', axis=1)
y = df['Outcome']

In [43]:
x

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,6,148,72,35,0,33.6,0.627,50
1,1,85,66,29,0,26.6,0.351,31
2,8,183,64,0,0,23.3,0.672,32
3,1,89,66,23,94,28.1,0.167,21
4,0,137,40,35,168,43.1,2.288,33
...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63
764,2,122,70,27,0,36.8,0.340,27
765,5,121,72,23,112,26.2,0.245,30
766,1,126,60,0,0,30.1,0.349,47
767,1,93,70,31,0,30.4,0.315,23

In [44]:
y

0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

# Data standardization

In [45]:
from sklearn.preprocessing import StandardScaler
scalar = StandardScaler()
scalar.fit(x)
x_standardixed = scalar.transform(x)

In [46]:
# relable the standardized data to x

x = x_standardixed
y = y

# Split the data to train and test data

In [47]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, stratify=y, random_state = 2)
print(x.shape, x_train.shape, x_test.shape)

(768, 8) (614, 8) (154, 8)

# The next step is train the model, particularly the svm model

In [48]:
# load the svm method from sklearn
from sklearn import svm

# train the model
classifier = svm.SVC(kernel='linear')
classifier.fit(x_train, y_train)

SVC(kernel='linear')

# Evaluate the model perfromace

In [49]:
# accuracy score
from sklearn.metrics import accuracy_score
x_train_predict = classifier.predict(x_train)
x_trainig_data_accuracy = accuracy_score(x_train_predict, y_train)

In [50]:
print('Accuracy score of the trainig data: ', x_trainig_data_accuracy)

Accuracy score of the trainig data:  0.7866449511400652

In [51]:
x_test_predict = classifier.predict(x_test)
x_test_data_accuracy = accuracy_score(x_test_predict, y_test)

In [52]:
print('Accuracy of the training data: ', x_test_data_accuracy)

Accuracy of the training data:  0.7727272727272727

# Making a predictive system

In [53]:
input_data = (4, 110, 92, 0, 0, 37.6, 0.191, 30) # tupple 
out_put = 0 # expercted out put 
# Change the input_data to numpy array 

input_data_as_np_array = np.asarray(input_data)
# reshape the data array as we predicting one instance

input_data_reshaped = input_data_as_np_array.reshape(1, -1)

# standaredize the input data 
standard_input_data = scalar.transform(input_data_reshaped)
print('The standaridized dataset is: ', standard_input_data)

prediction = classifier.predict(standard_input_data)
print('The predicted value is :', prediction)

The standaridized dataset is:  [[ 0.04601433 -0.34096773  1.18359575 -1.28821221 -0.69289057  0.71168975
  -0.84827977 -0.27575966]]
The predicted value is : [0]

In [54]:
if prediction[0] == 0:
    print('The person is non-diabetic')
else:
    print('The person is diabetic')

The person is non-diabetic